<%- include('header', {title: 'Edit Trips to Buddy'}); -%>
<div class="activity-form-container3">
  <div class="gradient-bg"></div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 grey-box p-4">
      <h1 style="font-size: 50px; color: #a68dad">
        Editing Trips for <%= buddyName%>
      </h1>
      <div class="row">
        <div class="col-3">
          <h3><b>Current Trips: </b></h3>
        </div>
        <div class="col-9">
          <h3><% myBuddyTrips.forEach(trip=> {%> <%= trip.country%> <%})%></h3>
        </div>
      </div>

      <div>
        <form action="/buddy-trip/<%= buddyName%>?_method=PUT" method="POST">
          <div class="row">
            <div class="col-sm-3 input-field">
              <label for="country"><b>Add Trip: </b></label><br />
            </div>
            <div class="col-sm-9 input-field">
              <select type="text" id="country" name="country" required>
                <% tripsThatBuddyNotIn.forEach(trip => {%>
                <option value="<%= trip.id%>"><%= trip.country%></option>
                <% }) %></select
              ><br />
            </div>
          </div>
          <div>
            <br />
            <input class="submit-button" type="submit" value="Submit" />
          </div>
        </form>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>

  <%- include('footer'); -%>
</div>
