<%- include('header', {title: 'My Travel Buddies'}); -%>
<div class="buddy-dashboard-container">
  <div class="gradient-bg"></div>
  <a href="/add-buddy" class="add-buddy-icon"><i class="fas fa-user-plus" style="padding-right: 5px"></i> Add Buddy</a>
  <div class="row">
    <% allBuddiesNamePhotos.forEach((buddy)=> { %>
    <div class='col-12 col-md-3 each-buddy-div'>
      <fieldset class="border p-2">
        <legend class="float-none w-auto p-2">My Travel Buddy</legend>
        <div class="d-flex flex-column align-items-center text-center p-3 py-5">
          <% if(buddy.photo != "default") {%>
            <img
              class="rounded-circle"
              width="150px"
              src="/<%= buddy.photo %>"
            />
            <%} else { %>
            <img
              class="rounded-circle"
              width="150px"
              src="/photos/default-profile-pic.jpg"
            />
          <% } %>
          <span class="font-weight-bold"><%= buddy.name %></span>
        </div>
        <div>
          <h3>Trips with Me:</h3>
          <% buddiesWithTripData.forEach(row => { %>
            <% if (row.name === buddy.name){ %>
              <div class="each-buddy-trip-div"><%= row.country%> 
                <form
                action="/buddy-trip/<%= row.buddy_trip_id %>/delete?_method=DELETE" method="POST">
                <button type="submit" class="delete"><i class="fas fa-trash" style="color:black"></i></button>
                </form>
              </div>
            <% }%>
          <% })%>
          <div class="each-buddy-edit-delete-icons">
            <a href="/buddy-trip/<%= buddy.name%>/edit" class="edit"><i class="fas fa-plus-square"></i> Add Trip</a>
            <form
            action="/buddy/<%= buddy.name %>/delete?_method=DELETE"
            method="POST"
            >
            <button type="submit" class="delete"><i class="fas fa-trash-alt" style="padding-right:3px"></i>Delete Buddy</button>
            </form>
          </div>
        </div>
      </fieldset>
    </div>
    <% }) %>
  </div>
</div>
<%- include('footer'); -%>
